BASS/_Debug/
BASS/Compiled/
Sierra-style/_Debug/
Sierra-style/Compiled/
Empty Game/_Debug/
Empty Game/Compiled/
Verb Coin/_Debug/
Verb Coin/Compiled/
room*.crm
*.bak
*.dmp
*.user
backup_acsprset.spr
_OpenInEditor.lock
